{% extends 'base.html' %}

{% block content %}

<html lang="en">
  <head>
  	<title>SignUp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="static/css/style.css">

	</head>
	<body class="img js-fullheight" style="background-image: url(static/images/bg.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Sign Up</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">

<!--				{% with messages = get_flashed_messages() %}-->
<!--				{% if messages %}-->
<!--					<div class="notification is-danger">-->
<!--						{{ messages[0] }}. Go to <a href="{{ url_for('login') }}">login page</a>.-->
<!--					</div>-->
<!--				{% endif %}-->
<!--				{% endwith %}-->

				{% with messages = get_flashed_messages(with_categories=True) %}
					{% if messages %}
						{% for category, message in messages %}
							<div style="color: red" class="alert alert-{{ category }}">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
		      	<form method="post" class="signin-form">
					{{ form.hidden_tag() }}
<!--				<div class="form-group">-->
<!--					<input type="text" class="form-control" placeholder="Username" required>-->
<!--					{% for error in form.username.errors %}-->
<!--					<span>{{ error }}</span>-->
<!--					{% endfor %}-->
<!--				</div>-->
				<div class="form-group">
					{% if form.username.errors %}
						{{ form.username(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.username(class="form-control form-control-lg", placeholder="Username") }}
					{% endif %}
				</div>


<!--                <div class="form-group">-->
<!--	              <input id="email-field" type="email" class="form-control" placeholder="Email" required>-->
<!--	            </div>-->
				<div class="form-group">
					{% if form.email.errors %}
						{{ form.email(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.email(class="form-control form-control-lg", placeholder="Email") }}
					{% endif %}
				</div>
<!--	            <div class="form-group">-->
<!--	              <input id="password-field" type="password" class="form-control" placeholder="Password" required>-->
<!--	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>-->
<!--	            </div>-->
				<div class="form-group">
					{% if form.password.errors %}
						{{ form.password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(id="password-field", class="form-control form-control-lg", placeholder="Password") }}
						<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
					{% endif %}
				</div>

<!--                <div class="form-group">-->
<!--	              <input id="confirm-password-field" type="password" class="form-control" placeholder="Confirm password" required>-->
<!--	              <span toggle="#confirm-password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>-->
<!--	            </div>-->
				<div class="form-group">
					{% if form.confirm_password.errors %}
						{{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.confirm_password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.confirm_password(id="confirm_password-field", class="form-control form-control-lg", placeholder="Confirm Password") }}
						<span toggle="#confirm_password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
					{% endif %}
				</div>

	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	<label class="checkbox-wrap checkbox-primary">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
                    <div class="w-50 text-md-right">
									<a href="{{ url_for('login') }}" style="color: #fff">Have an account?</a>
					</div>

	            </div>
	          </form>

		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="static/js/jquery.min.js"></script>
  <script src="static/js/popper.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/main.js"></script>

	</body>
</html>

{% endblock %}
